table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table th {
  font-style: italic;
  font-size: large;
}

.edit {
  margin-right: 10px;
}

.edit >i{
  color:#d9cd26;
}

.delete >i {
  color:#e35e6b;
}
