<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" 
    opened="true" fixedInViewport="true" fixedTopGap="65">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/"> <!-- link das rotas -->
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item routerLink="/products"> <!-- link das rotas -->
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet> <!-- indica onde a tela será alterada com as rotas -->
    </mat-sidenav-content>
</mat-sidenav-container>
